﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="app/app.js"></script>

    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="app">
    <div ng-controller="appcontroller as model" class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <label for="selectedStaffName">Filter by Name</label>
                    <input type="text" id="selectedStaffName" ng-model="model.selectedStaffName" ng-change="model.updateChart()" />
                </div>
                <div class="row">
                    <label for="selectedStaffGender">Filter by gender</label>
                    <select id="selectedStaffGender" ng-model="model.selectedStaffGender" ng-change="model.updateChart()">
                        <option value="">Any Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div class="row">

                    <table class="table">
                        <tr>
                            <th>Id</th>
                            <th>First name</th>
                            <th>Last Name</th>
                            <th>Dept</th>
                            <th>Gender</th>
                        </tr>

                        <tr ng-repeat="person in model.staff | filter: model.filterStaff ">

                            <td>{{person.id}}</td>
                            <td>{{person.firstName}}</td>
                            <td>{{person.lastName}}</td>
                            <td>{{person.department}}</td>
                            <td>{{person.gender}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div id="piechart" style="width: 400px; height: 400px;"></div>
            </div>
        </div>
    </div>
</body>
</html>
